/* Style the body element */
body {
    font-family: Arial, sans-serif;
    background-color: #ffba86;
    color: #79155b;
}

/* Style a heading element */
h1 {
    color: #c23373;
}

/* Style paragraphs */
p {
    font-size: 16px;
}
